In [ ]:
from sklearn.linear_model import LinearRegression
import pandas as pd

In [ ]:
df = pd.read_csv('HousingData.csv')
df

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,NaN,36.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
501,0.06263,0.0,11.93,0.0,0.573,6.593,69.1,2.4786,1,273,21.0,391.99,NaN,22.4
502,0.04527,0.0,11.93,0.0,0.573,6.120,76.7,2.2875,1,273,21.0,396.90,9.08,20.6
503,0.06076,0.0,11.93,0.0,0.573,6.976,91.0,2.1675,1,273,21.0,396.90,5.64,23.9
504,0.10959,0.0,11.93,0.0,0.573,6.794,89.3,2.3889,1,273,21.0,393.45,6.48,22.0
505,0.04741,0.0,11.93,0.0,0.573,6.030,NaN,2.5050,1,273,21.0,396.90,7.88,11.9

In [ ]:
df.isnull().sum()

CRIM       20
ZN         20
INDUS      20
CHAS       20
NOX         0
RM          0
AGE        20
DIS         0
RAD         0
TAX         0
PTRATIO     0
B           0
LSTAT      20
MEDV        0
dtype: int64

In [ ]:
df["CRIM"].fillna(df["CRIM"].mean(), inplace=True) # fill CRIM with mean value
df["ZN"].fillna(0, inplace=True) # fill ZN with mode value, because 360 of the entries are 0
df["INDUS"].fillna(df["INDUS"].mean(), inplace=True) # fill INDUS with mean value
df["CHAS"].fillna(0, inplace=True) # fill CHAS with mode value, bec\ause 452 of the entries are 0
df["AGE"].fillna(df["AGE"].mean(), inplace=True) # fill AGE with mean value
df["LSTAT"].fillna(df["LSTAT"].mean(), inplace=True) # fill LSTAT with mean value

In [ ]:
df.isnull().sum()

CRIM       0
ZN         0
INDUS      0
CHAS       0
NOX        0
RM         0
AGE        0
DIS        0
RAD        0
TAX        0
PTRATIO    0
B          0
LSTAT      0
MEDV       0
dtype: int64

In [ ]:
X = df.drop('MEDV',axis=1)
y = df['MEDV']

In [ ]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X,y, random_state = 42)

In [ ]:
lr = LinearRegression()
lr.fit(X_train, y_train)

LinearRegression()

In [ ]:
y_pred = lr.predict(X_test)

In [ ]:
lr.score(X_test,y_test)

0.6798951007706691

In [ ]:
import tensorflow as tf

In [ ]:
model = tf.keras.Sequential([
    tf.keras.layers.Dense(13,  activation='relu'),
    tf.keras.layers.Dense(16, activation = 'relu'),
    tf.keras.layers.Dense(32, activation = 'relu'),
    tf.keras.layers.Dense(16, activation = 'relu'),
    tf.keras.layers.Dense(1, activation='linear')
])

In [ ]:
model.compile(optimizer='adam',loss = tf.keras.losses.MeanSquaredError())

In [ ]:
model.fit(X_train,y_train,epochs=50)

Epoch 1/50
12/12 [==============================] - 0s 3ms/step - loss: 68.5757
Epoch 2/50
12/12 [==============================] - 0s 3ms/step - loss: 70.4735
Epoch 3/50
12/12 [==============================] - 0s 3ms/step - loss: 71.9074
Epoch 4/50
12/12 [==============================] - 0s 3ms/step - loss: 69.9184
Epoch 5/50
12/12 [==============================] - 0s 3ms/step - loss: 66.1842
Epoch 6/50
12/12 [==============================] - 0s 3ms/step - loss: 64.2669
Epoch 7/50
12/12 [==============================] - 0s 3ms/step - loss: 65.1942
Epoch 8/50
12/12 [==============================] - 0s 3ms/step - loss: 64.9142
Epoch 9/50
12/12 [==============================] - 0s 3ms/step - loss: 61.9898
Epoch 10/50
12/12 [==============================] - 0s 4ms/step - loss: 63.5317
Epoch 11/50
12/12 [==============================] - 0s 3ms/step - loss: 62.8331
Epoch 12/50
12/12 [==============================] - 0s 3ms/step - loss: 61.2776
Epoch 13/50
12/12 [==============================] - 0s 3ms/step - loss: 61.3457
Epoch 14/50
12/12 [==============================] - 0s 4ms/step - loss: 63.0340
Epoch 15/50
12/12 [==============================] - 0s 4ms/step - loss: 61.1830
Epoch 16/50
12/12 [==============================] - 0s 3ms/step - loss: 59.1039
Epoch 17/50
12/12 [==============================] - 0s 4ms/step - loss: 59.3371
Epoch 18/50
12/12 [==============================] - 0s 3ms/step - loss: 61.4095
Epoch 19/50
12/12 [==============================] - 0s 4ms/step - loss: 61.6389
Epoch 20/50
12/12 [==============================] - 0s 4ms/step - loss: 58.6596
Epoch 21/50
12/12 [==============================] - 0s 3ms/step - loss: 59.7891
Epoch 22/50
12/12 [==============================] - 0s 3ms/step - loss: 57.1941
Epoch 23/50
12/12 [==============================] - 0s 3ms/step - loss: 57.6076
Epoch 24/50
12/12 [==============================] - 0s 3ms/step - loss: 57.7379
Epoch 25/50
12/12 [==============================] - 0s 3ms/step - loss: 58.2778
Epoch 26/50
12/12 [==============================] - 0s 3ms/step - loss: 56.7844
Epoch 27/50
12/12 [==============================] - 0s 3ms/step - loss: 55.9114
Epoch 28/50
12/12 [==============================] - 0s 3ms/step - loss: 55.2219
Epoch 29/50
12/12 [==============================] - 0s 3ms/step - loss: 56.1715
Epoch 30/50
12/12 [==============================] - 0s 4ms/step - loss: 54.4383
Epoch 31/50
12/12 [==============================] - 0s 3ms/step - loss: 55.1586
Epoch 32/50
12/12 [==============================] - 0s 3ms/step - loss: 54.8349
Epoch 33/50
12/12 [==============================] - 0s 3ms/step - loss: 54.2097
Epoch 34/50
12/12 [==============================] - 0s 3ms/step - loss: 53.4443
Epoch 35/50
12/12 [==============================] - 0s 3ms/step - loss: 52.2900
Epoch 36/50
12/12 [==============================] - 0s 3ms/step - loss: 51.6063
Epoch 37/50
12/12 [==============================] - 0s 3ms/step - loss: 52.1545
Epoch 38/50
12/12 [==============================] - 0s 3ms/step - loss: 51.7755
Epoch 39/50
12/12 [==============================] - 0s 3ms/step - loss: 50.3887
Epoch 40/50
12/12 [==============================] - 0s 3ms/step - loss: 49.5343
Epoch 41/50
12/12 [==============================] - 0s 3ms/step - loss: 50.0087
Epoch 42/50
12/12 [==============================] - 0s 3ms/step - loss: 50.5672
Epoch 43/50
12/12 [==============================] - 0s 3ms/step - loss: 48.7914
Epoch 44/50
12/12 [==============================] - 0s 4ms/step - loss: 49.0949
Epoch 45/50
12/12 [==============================] - 0s 3ms/step - loss: 48.3037
Epoch 46/50
12/12 [==============================] - 0s 3ms/step - loss: 46.5001
Epoch 47/50
12/12 [==============================] - 0s 3ms/step - loss: 49.3647
Epoch 48/50
12/12 [==============================] - 0s 3ms/step - loss: 47.8038
Epoch 49/50
12/12 [==============================] - 0s 5ms/step - loss: 48.9485
Epoch 50/50
12/12 [==============================] - 0s 3ms/step - loss: 47.3499